# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc
*.pyo

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Others
*.log
*.pot
